<div id="visualize_container">
  
  <div class="recent_workout_history" id="cal-heatmap">
    <h2>Recent Workouts</h2>
  </div>

  <div id='data_table'></div>

</div>

<!-- Templates -->
<script id="day_data_template" type="text/x-handlebars-template">
{{#if workouts}}
<h3>Workouts for {{day}}</h3>
{{/if}}
  {{#workouts}}
  <table>
    <thead>
      <tr>
        <th colspan="2">{{title}}</th>
      </tr>
    </thead>
    <tbody>
      {{#exercise_instances}}
        <tr>
          <td class="exercise_name">{{exercise.title}}</td>
          <td class="set_number">Set {{set}}</td>
        </tr>
        <tr>
          {{#if reps}}
          <td>{{reps}} reps</td>
          {{/if}}
          {{#if seconds}}
          <td>{{seconds}} seconds</td>
          {{/if}}
          {{#if weight}}
          <td>@ {{weight}} lbs</td>
          {{/if}}
        </tr>
      {{/exercise_instances}}
    </tbody>
  </table>
{{/workouts}}
</script>



