<div id="visualize_container">
  
  <div class="recent_workout_history" id="cal-heatmap">
    <h2>Recent Workouts</h2>
  </div>

  <div id='data_table'></div>

</div>

<!-- Templates -->
<script id="day_data_template" type="text/x-handlebars-template">
{{#if workouts}}
<h3>Workouts for {{day}}</h3>
{{/if}}
  {{#workouts}}
  <table>
    <thead>
      <tr>
        <th colspan="2">{{title}}</th>
      </tr>
    </thead>
    <tbody>
      {{#exercise_instances}}
        <tr>
          <td class="exercise_name"><a href="#" exercise-id="{{exercise.id}}" data-reveal-id="modal_{{id}}">{{exercise.title}}</a></td>
          <td class="set_number">Set {{set}}</td>
        </tr>
        <tr>
          {{#if reps}}
          <td>{{reps}} reps</td>
          {{/if}}
          {{#if seconds}}
          <td>{{seconds}} seconds</td>
          {{/if}}
          {{#if weight}}
          <td>@ {{weight}} lbs</td>
          {{/if}}
        </tr>
      {{/exercise_instances}}
    </tbody>
  </table>  

  <div id="modal_{{id}}" class="reveal-modal" data-reveal="" style="top: 50px; opacity: 1; visibility: hidden; display: none;">
    <h2>Exercise History</h2>
    <div class="progress_line_graph"></div>
    <a class="close-reveal-modal">×</a>
  </div>


{{/workouts}}
</script>



