<div id="visualize_container">
  
  <div class="recent_workout_history" id="cal-heatmap">
    <h2>Recent Workouts</h2>
  </div>

  <div id='d3_visualization'>
    
  </div>
  <div id='data_table'>
    <table>
  <thead>
    <tr>
      <th class='workout_session_id'>ID</th>
      <th>Date</th>
      <th class='exercise_id'>Exercise</th>
      <th class='set'>Set</th>
      <th class='reps'>Reps</th>
      <th class='weight'>Weight</th>
    </tr>
  </thead>
  <tbody>
    <script id="exercise_instance_template" type="text/x-handlebars-template">
            {{#exercise_instances}}
              <tr>
                <td>{{workout_session_id}}</td>
                <td>{{updated_at}}</td>
                <td>{{exercise_id}}</td>
                <td>{{set}}</td>
                <td>{{reps}}</td>
                <td>{{weight}}</td>
              </tr>
            {{/exercise_instances}}
        </script>
  </tbody>
</table>
  </div>
</div>