<div class="container">

  <!-- Input Panel -->
  <div class="one-quarter">

    <div class="new_entry">
      <h2>New Workout</h2>
        <input id="new_workout_input" class="input_field" type="text" placeholder="Plyometrics">
        <input id="add_workout_button" class="new_entry button" type="submit" value="COMMIT">
    </div>

    <div class="new_entry">
      <h2>New Exercise</h2>
        <input id="new_exercise_input" class="input_field" type="text" placeholder="Leglifts">
        <input id="add_exercise_button" class="new_entry button" type="submit" value="COMMIT">
    </div>

    <div id="do_it_for_timmy" class="hide">
      <p id="otter_image">
        <img src="/assets/otters/otter_1.jpg">
      </p>
      <p id="otter_box">Do it for Timmy!</p>
    </div>

  </div>

  <!-- Exercises Panel -->
  <div class="twenty-one-fiftieths">
    <div class="dashboard-panel">
      <div class="panel-header">
        <h1>Exercises</h1>
      </div>
        <div id="exercise_content" class="panel-content">
          <!-- Boxes get appended here -->
        </div>
        <script id="exercise_template" type="text/x-handlebars-template">
            {{#exercises}}
              <div class="exercise_box">
                <h3 class="exercise_name">
                  {{title}}
                </h3>
              </div>
            {{/exercises}}
        </script>
    </div>
  </div>
  

  <!-- Workouts Panel -->
  <div class="one-third">
    <div class="dashboard-panel">
      <div class="panel-header">
        <h1>Workouts</h1>
      </div>
        <dl id="workout_content" class="panel-content accordion" data-accordion>
          <!-- Boxes get appended here -->
        </dl>
      <script id="workout_template" type="text/x-handlebars-template">
          {{#workouts}}
          <dd class="workout_box">
            <a href='#id_{{id}}'><h3 class="workout_name">{{title}}</h3></a>
            <div id='id_{{id}}' class="content">
              {{#exercises}}
                  <p>{{title}}</p>
              {{/exercises}}
            </div>
          </dd>
          {{/workouts}}
        </script>
    </div>  
  </div>

</div>

<div class="container_mobile">
  <div class="select_workout">
    <div class="select_workout_header"><h3>What's the plan?</h3></div>
    <div class="select_rectangle rect_blue_dark"><h3>Back and Bi's</h3><h3 class='carrot'>></h3></div>
    <div class="select_menu" id="footer1">
      <div class="select_menu_button"><h3>Menu</h3></div>
    </div>
  </div>
  <div class="select_exercise">
    <div class="select_exercise_header">
      <h3 id='header_exercises'>Exercises</h3>
      <h3 id='header_sets'>Sets</h3>
    </div>
    <div class="select_rectangle rect_blue_dark">
      <h3>Military Press</h3>
      <span class='sets'>
        <button>-</button> 1 <button>+</button>
      </span>
    </div>
    <div class="select_menu" id="footer2">
      <div class="select_menu_button"><h3>Menu</h3></div>
    </div>
  </div>
  <div class="record_exercise">
    <div class="select_workout_header"><h3>Chest Fly's</h3></div>
    <div class="select_rectangle rect_blue_dark">
      <h3>Military Press</h3>
      <div class="input_form">
        <input type="text" placeholder='Reps'class="reps"/>
        <span class="times">x</span>
        <input type="text" placeholder='Weight'class="weight"><span> lbs.</span>
      </div> 
    </div>
    <div class="select_menu" id="footer3">
      <div class="select_menu_button"><h3>Menu</h3></div>
    </div>
  </div>
  

</div>