<div class="container">

  <!-- Input Panel -->
  <div class="one-quarter">

    <div class="new_entry">
      <h2>New Workout</h2>
        <input class="input_field" type="text" placeholder="Plyometrics">
        <input class="new_entry button" type="submit" value="COMMIT">
    </div>

    <div class="new_entry">
      <h2>New Exercise</h2>
        <input class="input_field" type="text" placeholder="Leglifts">
        <input class="new_entry button" type="submit" value="COMMIT">
    </div>

    <div id="do_it_for_timmy">
      <%= image_tag "otter.jpg" %>
      <p class="otter-box">Do it for Timmy!</p>
    </div>

  </div>

  <!-- Exercises Panel -->
  <div class="twenty-one-fiftieths">
    <div class="dashboard-panel">
      <div class="panel-header">
        <h1>Exercises</h1>
      </div>
        <div id="exercise_content" class="panel-content">
          <!-- Boxes get appended here -->
        </div>
    </div>
  </div>
  

  <!-- Workouts Panel -->
  <div class="one-third">
    <div class="dashboard-panel">
      <div class="panel-header">
        <h1>Workouts</h1>
      </div>
      <div id="workout_content" class="panel-content">
        <!-- Boxes get appended here -->
      </div>
    </div>  
  </div>

</div>