/* =================================== */
/* ========= Global Styling ========== */
/* =================================== */

body {
  background: #393F49;
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.one-third {
  width: 31%;
  margin-left: 1%;
  display: inline-block;
  vertical-align: top;
}

.one-quarter {
  width: 25%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: top;
}

.twenty-one-fiftieths {
 width: 39.5%;
 display: inline-block;
 vertical-align: top; 
}

.accordion dd > a {
  background: none;
  padding: 0;
}

.accordion dd {
  display: inline-block;
}

.accordion dd:hover {
  background: #5A6378;
}

.accordion dd a:hover {
  background: none;
}

.accordion dd.active a {
  background: none;
}

.accordion .content.active {
  padding: 0;
  background: none;
}

/* =============================== */
/* ========= Header Bar ========== */
/* =============================== */

.header-bar {
  background: #5A6378;
  border-top: 0.5em solid #28DCFF;
  height: 5em;
  margin-bottom: 1em;
}

.header-bar .left {
  font-size: 1.3em;
  padding: 1.3%;
  padding-top: 1.3%;
}

.header-bar .center {
  padding: .6%;
  text-align: center;
}

.header-bar .right {
  padding: 1.3%;
  text-align: right;
  padding-top: 1.5%;
}

.header-bar a {
  font-size: 1.3em;
  color: #FFFFFF;
}

.header-bar a:hover {
  color: #28DCFF;
}


/* ======================================= */
/* ========= New Entries Column ========== */
/* ======================================= */

.container .one-third {

}

.new_entry {
  background: #282C32;
  padding: 2%;
  margin-bottom: 5%;
}

.new_entry h2 {
  font-family: 'HelveticaNeue-Medium';
  font-size: 1.4em;
  color: #FFFFFF;
  line-height: 1.3em;
}

input.input_field {
  background-color: #1A1C1F;
  width: 60%;
  display: inline;
  border: none;
  font-family: 'HelveticaNeue-UltraLight';
  outline: none;
  color: #28DCFF;
}

/* WebKit browsers */
input.input_field::-webkit-input-placeholder { color: #28DCFF; }
/* Mozilla Firefox 4 to 18 */
input.input_field:-moz-placeholder { color: #28DCFF; }
/* Mozilla Firefox 19+ */
input.input_field::-moz-placeholder { color: #28DCFF; }
/* Internet Explorer 10+ */
input.input_field:-ms-input-placeholder { color: #28DCFF; }

input.input_field:focus {
  background-color: #1A1C1F;
  width: 60%;
  display: inline;
  border: none;
  font-family: 'HelveticaNeue-UltraLight';
  outline: none;
}

input.button {
  margin-left: 0.6em;
  border-radius: 8px;
  background: #28DCFF;
  display: inline-block;
  font-family: 'HelveticaNeue-Medium';
  font-size: .8em;
  color: #282C32;
  line-height: 15px;
}


.performance_history {
  margin-top: 2.5em;
  margin-bottom: 0;
}

.performance_history a {
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  padding: 0.7em;
  background: #408E47;
  border-radius: 0;
}

.performance_history a:hover {
  color: #282c32;
  background: #55C449;
}

.performance_history a:active {
  background: #24551f;
}

#do_it_for_timmy {
  font-family: "Brush Script Std", "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

#otter_box {
  font-size: 3em;
}

/* =========================================== */
/* ========= Exercises and Workouts ========== */
/* =========================================== */

.dashboard-panel {
  background: #282C32;
}

.panel-header {
  padding-top: 0.4em;
  padding-bottom: 0.1em;
  background: #1A1C1F;
}

.panel-header h1 {
  font-family: 'HelveticaNeue-Light';
  font-size: 1.3em;
  color: #FF6B6B;
  /*line-height: 17px;*/
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.panel-content {
  min-height: 4.3em;
  text-align: center;
  padding-bottom: 2em;
}

#exercise_content {
  opacity: 0;
}

#workout_content {
  opacity: 0;
}

.exercise_box {
  margin-top: 0.5em;
  background: #393F49;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  width: 47%;
  display: inline-block;
  text-align: left;
}

.workout_box {
  margin-top: 0.5em;
  background: #393F49;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  width: 90%;
  text-align: left;
  display: inline-block;
}

.workout_box.active {
  padding-bottom: 0.7em;
}

.workout_box p:hover {
  padding-left: 0.3em;
  background: #3C8595;
}

.light_droppable_target {
  background: #3C8595;
}

.droppable_target_hover {
  background: #4EB7CD;
}

.exercise_box:hover {
  background: #5A6378;
}

.exercise_box:active {
  background: #ff6666;
}

.exercise_name, h3 {
  font-family: 'HelveticaNeue-Light';
  font-size: 1em;
  color: #FFFFFF;
  line-height: 17px;
  letter-spacing: 1px;
}

.content p {
  border-top: 1px #677185 solid;
  font-family: 'HelveticaNeue-UltraLight';
  padding-left: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 0;
}

.unlink_exercise_from_workout {
  padding-right: 0.5em;
}

.unlink_exercise_from_workout:hover {
  color: #FF6B6B;
}

.delete_workout {
  margin-right: 1em;
}

.delete_workout:hover {
  color: #FF6B6B;
}

.delete_exercise:hover {
  color: #FF6B6B;
}

/* ================================= */
/* ========= History Page ========== */
/* ================================= */


/* ------------------------ */
/* --- Heatmap Calendar --- */
/* ------------------------ */

#cal-heatmap {
  padding-top: 0.7em;
  padding-left: 2em;
  margin-left: 4em;
  background: #282C32;
  width: 81.1%;
}

#cal-heatmap h2 {
  text-align: left;
  color: #ffffff;
}

rect.now {
  stroke: none;
}

.subdomain-text {
  fill: #000000;
}

/* ---------------------- */
/* --- Day Data Table --- */
/* ---------------------- */

#visualize_container {
  height: 85%;
}

#data_table {
  width: 81.1%;
  background: #282C32;
  margin: 1em;
  padding-top: 0.7em;
  padding-left: 2em;
  margin-left: 4em;
}

#data_table h3 {
  font-size: 1.5em;
  /*font-weight: bold;*/
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  color: #ffffff;
}

#data_table table {
  display: inline-table;
  background: #1A1C1F;
  border: none;
}

#data_table table thead {
  background: #0f1012;
}

#data_table table thead tr th {
  color: #F6F6F6;
}

#data_table table tr:nth-of-type(even) {
  background: #393d44;
}

#data_table table tr th, table tr td{
  color: #F6F6F6;
}

/* ---------------------- */
/* --- Progress Graph --- */
/* ---------------------- */

.d3_canvas {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}



/*===============================*/
/*=========MEDIA QUERIES=========*/
/*===============================*/




@media (max-width: 640px) {
  .container {
    display: none;
  }
  .header-bar {
    display: none;
  }
  .mobile_container {
    display: normal;
  }
  .sign_in {
    display: none;
  }
}

@media (min-width: 641px) {
  .container_mobile {
    display: none;
  }
  .sign_in_mobile {
    display: none;
  }
}
/*===============================*/
/*=========MOBILE SPLASH=========*/
/*===============================*/

.container_mobile {
  height: 100%;
  font-family: 'Helvetica Neue';
}
.sign_in_form_mobile {
  display: none;
}

.logo_mobile {
  text-align: center;
}

.logo_mobile_image {
  margin-top: 4em;
}

.log_in_button_mobile, .sign_up_button_mobile {
  text-align: center;
}
.log_in_button_text_mobile, .sign_up_button_text_mobile {
  font-size: 4em;
  display: inline-block;
  width: 4em;
  box-shadow: 1px 2px 3px black;
  border-radius: 25%;
}
.log_in_button_text_mobile {
  background-color: #FF6B6B;
  margin-top: 1em;
}
.sign_up_button_text_mobile {
  background-color: #4EB7CD;
  margin-top: 0.5em;
}


/*==========================*/
/*==========TEMPLATE========*/
/*==========================*/
.select_workout {
  /*display: none;*/
}
.select_exercise {
  display:none;
  margin-bottom: 6em;
}
.record_exercise {
  display: none;
}
#workout_content_mobile {
  overflow: auto;
}
#footer1, #footer2, #footer3 {
  position: fixed;
  width: 100%;
}
.select_workout_header {
  background-color: #1A1C1F;
  height: 6em;
  font-weight: bold;
  text-align: center;
}
.select_exercise_header {
  background-color: #1A1C1F;
  height: 6em;
  font-weight: bold;
}
.select_workout_header h3, .select_exercise_header h3 {
  display: inline-block;
  margin-top: 1em;
  font-weight: bold;
  font-size: 2.4em;
  color: #4EB7CD;
}
.select_menu {
  background-color: #1A1C1F;
  height: 6em;
  font-weight: bold;
  text-align: center;
}
.select_menu_button {
  display: inline-block;
  margin-top: 0.8em;
}
.select_menu_button h3{
  line-height: 1em;
  font-size: 3em;
  background-color: #FF6B6B;
  color: #1A1C1F;
  font-weight: bold;
  border-radius: 5%;
  width: 3.5em;
}
.select_rectangle {
  height: 5.864em;
  font-weight: bold;
}
.rect_blue_light {
  background-color: #4EB7CD;
}

.rect_blue_dark {
  background-color: #3C8595;
  border: 1px solid #393F49;
}

.rect_blue_dark h3 {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 1.6em;
  margin-left: 1em;
  font-weight: bold;
}
.carrot {
  float: right;
  margin-right: 1em;
}

#header_exercises {
  float:left;
  margin-left: 1em;
}
#header_sets {
  float: right;
  margin-right: 1.4em;
}

.sets {
  float: right;
  margin-top: 0.9em;
  margin-right: 1.9em;
  font-size: 2em;
}

.sets button {
  padding: 0.5em;
  width: 2em;
  border-radius: 30%;
  background-color: white;
  color: black;
}

.record_exercise .reps {
  display: inline-block;
  width: 4.5em;
}
.record_exercise .weight {
  display: inline-block;
  width: 4.5em;
}
.record_exercise .times {
  display: inline-block;
}
.input_form {
  display: inline-block;
  float: right;
  margin-top: 1.7em;
  margin-right: 3em;
}

#exercise_content_mobile h3 {
  display: inline-block;
  font-size: 1.2em;
  margin-top: 2em;
  margin-left: 1em;
  font-weight: bold;
  width: 50%;
}
#set_number {
  width: 5em;
  border: 0;
  border-radius: 15%;
  text-align: center;
}